.img{
	width: 100%;
	height: 100%;
}
/*header-nav*/
.header{
	background: #2B2B2B;
	position: fixed;
}
.header a{
	color: white;
	font-size: 18px;
	margin-right: 20px;
}
@media(max-width:769px) {
	.navbar-brand{
		
		font-size: 12px;
	}
	.navbar-nav li a{
		
		font-size: 12px;
	}
}
@media(max-width:765px ) {
	.navbar-brand{
	background:#2B2B2B !important;
	}
}
.navbar-brand{
	background: #1E50AE ;
}
.header a:hover{
	background: #1E50AE !important;
}
.navbar{
	margin-bottom: 0;
}
.active{
	 
}
.icon-bar{
	background: white;
}
.nav li{
	
}
/*轮播*/
#Carousel{
	margin-top: 50px;
}
