.img{
	width: 100%;
	height: 100%;
}
/*header-nav*/
.header{
	background: #2B2B2B;
	position: fixed;
}
.header a{
	color: white;
	font-size: 18px;
	margin-right: 20px;
}
@media(max-width:986px ) {
	.header a{
		margin-right: 0;
	}
}
@media(max-width:769px) {
	.navbar-brand{
		
		font-size: 12px;
	}
	.navbar-nav li a{
		
		font-size: 12px;
	}
}
@media(max-width:765px ) {
	.navbar-brand{
	background:#2B2B2B !important;
	}
}
.navbar-brand{
	background: #1E50AE ;
}
.header a:hover{
	background: #1E50AE !important;
}
.navbar{
	margin-bottom: 0;
}
.active{
	 
}
.icon-bar{
	background: white;
}
.nav li{
	
}
/*轮播*/
#Carousel{
	margin-top: 50px;
}
/*content1*/
.content{
	margin-top: 50px;
	min-height: 500px;
}

.row1 div{
	margin-top: 15px;
}
.row1 div p:first-child{
	margin-bottom: 30px;
}
.more span{
	display: block;
	float: left;
}
.more a{
	display: block;
	float: right;
	color: #000000;
}
.content h3{
	color:rgb(27,17,122) !important;
}
.eng{
	color: rgb(153, 153, 153);
}
/*footer*/
.footer{
	margin-top: 50px;
	background: #202020;
}
.footer a{
	display: block;
	float: left;
	padding: 15px;
}
.footer span{
	padding: 5px;
}	
.footer a,.footer span{
	color: #959595;
}
@media(max-width: 970px) {
	
	
	
}

	

